

#ve185 .GridLines {
  line-thickness: 1px;
  line-color: #2A3037;
}
#ve119 .tableColumnbi113 {
  width: 122px;
}
#ve119 .tableColumnbi114 {
  width: 265px;
}
#ve119 .tableColumnbi111 {
  width: 74px;
}
#ve241 .Pie {
  ring-size: 0.26;
}
#ve42 .Table {
  wrap-text: normal;
}
#ve42 .tableColumnbi52 {
  width: 87px;
}
#ve42 .tableColumnbi53 {
  width: 115px;
}
#ve241 .GraphSkin {
  data-skin: FLAT;
}
#ve241 .LegendFill {
  frame-border: false;
}
#ve42 .tableColumnbi56 {
  width: 285px;
}
#ve119 .Table {
  wrap-text: normal;
}
#ve42 .tableColumnbi54 {
  width: 132px;
}
#ve42 .tableColumnbi55 {
  width: 1090px;
}

			